.eventContainer{
    margin-top: 0.2em;
    margin-bottom: 0.1em;
    border-bottom: 0.01em solid #103258;
    width: 450px;
    height: auto;
    padding:.7%;
    float:left;
    display: flex;

}

.button{
    font-size: 10em;
    color: white;
    background-color: #103258;
}

.eventImageUrl{
    float:left;
    width: 100%;
    align-items: stretch;
}

.eventImageContainer{
    width: 50%;
}

.eventTitleContainer{
    width: 100%;
    font-weight: Bold;
    margin-bottom: 0.7em;
}

.eventTimeContainer{
    width: 100%;
    margin-bottom: 0.7em;
}

.eventContentContainer{
    width: 50%;
    padding: 1%;
    float: left;

}

.program{
    width: 450px;
    color: #103258;
}