.persons {
  color: #3D3E4E;
}


.personContainer{
  margin-top: 10px;
  border-bottom: solid 1px #103258;
  width: 100%;
  box-sizing: border-box;
  height:auto;
  padding: 2%;
  float:left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: left;
}

.profileImg {
  height:100px;
  width:100px;
  border: solid 2px #98bdc0;
  border-radius: 50%;
}

.searchContainer{
  padding: 1em;
  box-sizing: border-box;
}

.searchContainer input{
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size:1.5em;
}

.personName {
  font-size:1.5em;
  margin:0 0 0 5px;
  text-align: left;
  padding: 0.5em;
}
