body {
    background-color: #CEDFE0;
    color: #3D3E4E;
}
.App {
  text-align: center;
    color: #3D3E4E;
}

.App-logo {
  width: 20rem;
}

h1 {
    text-align: center;
}

.App-header {
  background-color: #395B74;
  height: auto;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
  align-content: center;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.lenker {
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
    text-align: center;
}

ul {
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul li {
    display: inline-block;
    padding-left: 1.2rem;
}

ul li:last-child{
    padding-right: 10px;
}

ul li:first-child{
    padding-left: 0px;
}

.pageHeader {
  font-size: 2.5em;
  margin-bottom: 10px;
}